.env
.env.*
.git
.gitignore
.gitattributes
.vscode
.idea
.editorconfig
node_modules
vendor
.DS_Store
*.md
docker-compose.yml
Dockerfile
.dockerignore
storage/app/public
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
public/build
public/hot
public/storage
bootstrap/cache/*.php
!bootstrap/cache/.gitignore
.phpunit.cache
.phpunit.result.cache
